<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="cocktail-form">
        <h1>Create a new cocktail</h1>
        <p>Enter your mix here</p>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.input :name%>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, "Create", class: "submit" %>
        <% end %>
        <div class="back">
          <%= link_to 'Back', cocktails_path %>
        </div>
      </div>
    </div>
  </div>
</div>

