<h3><%= @cocktail.name %></h3>
<h5><strong>Ingredient:</strong></h5>
<% @cocktail.doses.each do |dose| %>
<p><%= dose.ingredient.name %>  <%= dose.description %><%= link_to 'X', dose_path(dose), method: "delete"%></p>
<%end %>
<p><%= link_to 'Add Dose', new_cocktail_dose_path(@cocktail) %>
